<a href="https://colab.research.google.com/github/Gustahx/Program---Python/blob/main/aula_006_cole%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Crie uma lista de nomes de frutas e ordene-a em ordem decrescente.
frutas = ['Maça', 'Banana', 'Uva', 'Pitaya', 'Laranja']
frutas.sort(reverse=True)

frutas

In [ ]:
#Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.
num = [4, 6, 5, 2]
newList = list(map(lambda x: x*x, num))
newList

In [ ]:
#Recebe uma lista de frutas, retorne uma lista de caracteres.
fruits = ['Jaca', 'Banana', 'Maça', 'Pitaya', 'Limão']
newList = list(map(lambda x: len(x), fruits))
newList

In [ ]:
#Pegar os preços de um lista e adicionar 2 a cada um deles.
prize = [9, 3, 5, 4, 7]
more = list(map(lambda x: x+2, prize))
more

In [ ]:
#Apenas os Aprovados.
notas = [6, 7, 8, 2, 4]
aprovados = list(filter(lambda x: x>=7, notas))
aprovados

In [ ]:
#Escreva uma função que recebe uma lista de números e 
#retorna uma nova lista contendo apenas os números divisíveis por 3.
lista = [6, 8, 9, 7]
div = list(filter(lambda x: x%3==0, lista))
div

In [ ]:
#Escreva uma função que recebe uma lista de strings e
#retorna uma nova lista contendo as strings em ordem reversa.
futebol = ['Estádio', 'Arquibancada', 'Campo', 'Trave']
futebol.sort(reverse=True)
futebol

TUPLAS

Uma tupla é uma coleção ordenada e imutável de elementos em Python.

In [ ]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

In [ ]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

In [ ]:
#Usando o processo de fatiamento, crie uma nova tupla apenas 
#com os meses do segundo trimestre (abril - Jun)
tp_meses = ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
tp_meses[3:6]

In [ ]:
#Ordenação de dados *sort(value, key = x)
#Ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]
sorted(uf_cod, key = lambda x : x[1])

In [ ]:
#Coloque a tupla a seguir em ordem 
#do mais novo para o mais velho
#e do mais velho pro mais novo
nome_nasc = [('Zé', 2003),('Maria', 1998),('Alice', 2000)]

sorted(nome_nasc, key = lambda x : x[1], reverse=True) #do mais novo para o mais velho

In [ ]:
#Desempacotamento de Valores.
def nome_idade_uf():
  nome = 'Gustavo'
  idade = 18
  uf = 'PB'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

In [ ]:
#1- Escreva uma função que receba duas tuplas como entrada e 
#retorne uma única tupla que seja a concatenação das duas.
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5) 
b = (6, 8, 12)
concatenaTupla(a, b)

In [ ]:
#2- Escreva uma função que receba uma tupla contendo o nome e endereço: contendo, 
#logradouro, número e bairro de uma pessoa e retorne uma string formatada.

def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome : {nome}, residente a : {logradouro}, {num}, {bairro}.'
  
dadosClient = ('Brian', 'Rua China', 1307, 'Bairro das Industrias')

print(formatada(dadosClient))

In [ ]:
#3- Escreva uma função que receba uma lista de tuplas contendo nome e 
#idade de pessoas e retorne a lista ordenada por idade.

nom_ida = (('Gustavo', 18), ('José', 54), ('Kenia', 49), ('Vitor', 26))

sorted(nom_ida, key = lambda x:x[1])

Dicionários {}
----------------------------------------------
Armazenamento baseado em "chave-valor"

In [ ]:
#Criando dicionários
#Os dicionários são definidos utilizando chaves {} 
#e os pares chave-valor são separados por dois pontos (:)

#Contatos
contatos = {
    'Ostervaldo' : 'oster@email.com',
    'Maristênio' : 'marist@email.com',
    'Leroiane' : 'lero@email.com', 
    'Jozezin' : ['zezin@exemplo.com', 'zemane@xemple.com']
}
contatos

In [ ]:
#Acessando valores
contatos['Jozezin']

In [ ]:
#Para evitar erros ao buscar por possíveis valores inexistentes, utilizar o get()
contatos.get('Rebeca', 'Contato inexistente')

Adicionando, Modificando e Removendo Pares Chave-Valor

In [ ]:
#CRUD
#C - CREATE
#R - RECOVERY
#U - UPDATE
#D - DELETE

In [ ]:
#Iterando sobre dicionários
for nome, email in contatos.items():
  print(f'o Email {email} pertence a {nome}')

items(): 

É um método utilizado em dicionários em Python. Ela retorna uma lista de tuplas, em que cada tupla contém um par chave-valor do dicionário.

In [ ]:
#métodos úteis keys(), values()
contatos.keys()

In [ ]:
#Valores máximos, mínimos e ordenações
curso = {'Alice': 8.5, 'Tiago': 7.0, 'Chico': 6.5, 'Nubia': 10}
#quem teve o pior desempenho?
min(curso, key=curso.get)

In [ ]:
#ordenar da maior nota para a menor
sorted(curso, key=curso.get, reverse=True)

In [64]:
#3-
provaA = {'Andre': 8.5, 'Ana': 7.0, 'Chico': 6.5, 'Nubia': 10, 'Luana': 8}
provaB = {'Julio': 5.5, 'Aristides': 6.0, 'Sebastiana': 9.5, 'Camila': 10, 'João': 6}
resultado_final = {}
resultado_final.update(provaA)
resultado_final.update(provaB)

sorted(resultado_final, key=resultado_final.get, reverse=True)

['Nubia',
 'Camila',
 'Sebastiana',
 'Andre',
 'Luana',
 'Ana',
 'Chico',
 'Aristides',
 'João',
 'Julio']

In [ ]:
candidatos = list(resultado_final.keys())

candidatos

In [65]:
notas = list(resultado_final.values())

notas

[8.5, 7.0, 6.5, 10, 8, 5.5, 6.0, 9.5, 10, 6]

In [69]:
def consultaNota(dicNotas, nome):
  if nome in dicNotas:
    return dicNotas[nome]
  else:
    return 'Candidato Inexistente'

In [ ]:
nome = input('digite nome: ')
nota = consultaNota(resultado_final, nome)
nota