Listas.

In [ ]:
num = [1, 8, 6, 7, 5, 2]
len(num)

6

In [ ]:
num[5]

In [ ]:
print(num[0])
print(num[1])
print(num[2])
print(num[3])
print(num[4])
print(num[5])

In [ ]:
alunos = ['Gabriel', 'Léo', 'Jessica', 'Arielly', 'Gustavo', 'Luzia']
len(alunos)

In [ ]:
alunos[1] = 'Vitor'
alunos.append('Caiky')
alunos

In [ ]:
alunos.append(input('Digite o nome '))
alunos

In [ ]:
nome = input('Digite o nome: ')
if nome in alunos : 
  print('Possui' , nome )
else: 
  print('Não possui' , nome )

In [ ]:
print(alunos[0])
print(alunos[1])
print(alunos[2])
print(alunos[3])
print(alunos[4])
print(alunos[5])

In [ ]:
valor = int (input('Digite um valor '))
 
if (valor == 20) :
  print('Igual que 20')
elif (valor > 20):
  print('Maior que 20')
else:
  print('Menor que 20')

In [ ]:
del alunos[0]
alunos

In [ ]:
 frutas = ['jaca' , 'manga' , 'morango' , 'pinha' , 'goiaba']
 for i in frutas :
  print(i)

In [ ]:
for i in frutas : 
  if (i == 'morango'):
    print(i)

In [ ]:
fruta = input('Insira uma fruta : ')
frutas.append(fruta)
frutas

In [ ]:
notas = [8, 9, 7, 6, 5, 10, 4]
for nota in notas :
  if(nota >= 7) :
    print(nota)

In [ ]:
#Exiba a quantidade de aprovados e reprovados.
aprovados = 0 
reprovados = 0
for nota in notas:
  if(nota >=7):
    aprovados += 1
  else:
    reprovados += 1

print('aprovados : ' , aprovados )
print('reprovados : ' , reprovados )

In [ ]:
#Criar um programa que lista de 1 a 10
#para isto , precisamos de um contador.
cont = 1 
numeros = []

while (cont <= 10) :
  numeros.append(cont)
  cont += 1

numeros

In [ ]:
#modifique o cod anterior , para solicitar um tamanho de lista 
#X e com o laço while , crie a nova lista , do tamanho desejado.

cont = 1
numeros = []
tamanho = int(input('Digite o tamanho da lista : '))

while (cont <= tamanho ):
  numeros.append(cont)
  cont += 1

numeros

In [ ]:
#Inserir nomes de Cidades
#O laço encerra ,  quando digitar 0 .
cidades = []
city  = input('Digite uma cidade: ')


while(city != '0') :
  cidades.append(city)
  city  = input('Digite uma cidade: ')

cidades

In [ ]:
num = int(input('Digite um valor : '))

while(num >= 0 ) :
 if(num % 2 == 0):
  print('É par')
  num = int(input('Digite um valor : ')) 
 else: 
  print('É impar')
  num = int(input('Digite um valor : ')) 

print('Finish Him!!!')

Laços.

In [ ]:
numeros = []
for num in range(11) :
  numeros.append(num)

In [ ]:
dobro = []
for num in numeros :
  dobro.append(numeros[num]*2)

dobro

In [ ]:
a = int(input('Digite um valor : '))
if a%2 == 0:
  print('É par')
else: 
  print('É impar')

In [ ]:
for num in numeros:
   if numeros[num]%2 == 0:
     print(numeros[num])